Django
djangorestframework
django-cors-headers
python-dotenv==1.0.0
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.1
django-celery-beat
django-celery-results
Pillow
requests
python-jose[cryptography]
django-environ
gunicorn==21.2.0
whitenoise
django-allauth
django-rest-auth
djangorestframework-simplejwt
django-cors-headers